<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>Item Details</title>
</head>
<style>
    
</style>
<body>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
      
    
    <title>Hexashop -  Item details Page</title>
     <!-- Additional CSS Files -->
     <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">

     <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.css">
 
     <link rel="stylesheet" href="/static/assets/css/templatemo-hexashop.css">
 
     <link rel="stylesheet" href="static/assets/css/owl-carousel.css">
 
     <link rel="stylesheet" href="static/assets/css/lightbox.css">

     <section class="vh-100" style="background-color: #c6c0ce;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <p><span class="h2">Shopping Cart </span><span class="h4">({{totalitem}} item in your cart)</span></p>
            <div class="col">
              
      
              <div class="card mb-4">
                {% for i in logd %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><img src="" alt=""> </td>
                    <td>{{i.user_pay.Quantity}}</td>
               
                <div class="card-body p-4">
                  
      
                  <div class="row align-items-center">
                    <div class="col-md-2">
                      <p class="small text-muted mb-4 pb-2">Image</p>
                      <img src="http://127.0.0.1:8000/images/{{i.user_pay.image}}"
                        class="img-fluid" alt="Generic placeholder image">
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                      <div>
                        <p class="small text-muted mb-4 pb-2">Name</p>
                        <p class="small text-muted mb-4 pb-2">{{i.user_pay.name}}</p>
                        
                      </div>
                    </div>
                   
                    
                    <div class="col-md-2 d-flex justify-content-center">
                      <div>
                        <p class="small text-muted mb-4 pb-2">Price</p>
                        <p class="small text-muted mb-4 pb-2">{{i.user_pay.price}}</p>
                        
                      </div>
                      <button class="btn btn-light" style="margin: 30px " ><a href="{%  url 'hexadelete' i.id %} ">Delete</a></button>
                    </div>
                    
                   
                     
                    
                      
                    

                  </div>
      
                </div>
                {% endfor %} 
              </div>
      
              <div class="card mb-5">
                <div class="card-body p-4">
      
                  <div class="float-end">
                    <p class="mb-0 me-5 d-flex align-items-center">
                      <span class="small text-muted me-2">Order total:</span> <span
                        class="lead fw-normal">{{total_price}}</span>
                    </p>
                  </div>
      
                </div>
              </div>
      
              <div class="d-flex justify-content-end"></div>
                <button type="button" class="btn btn-light btn-lg me-2"> <a href="{% url 'userindex' %}">Back To Home</a></button>
                <button type="button" class="btn btn-light btn-lg"><a href="{% url 'payment'%}">Place Order</a></button>
              </div>
      
            </div>
          </div>
        </div>
      </section>
 
   
     <!-- jQuery -->
     <script src="/static/assets/js/jquery-2.1.0.min.js"></script>

     <!-- Bootstrap -->
     <script src="/static/assets/js/popper.js"></script>
     <script src="/static/assets/js/bootstrap.min.js"></script>
 
     <!-- Plugins -->
     <script src="/static/assets/js/owl-carousel.js"></script>
     <script src="/static/assets/js/accordions.js"></script>
     <script src="/static/assets/js/datepicker.js"></script>
     <script src="/static/assets/js/scrollreveal.min.js"></script>
     <script src="/static/assets/js/waypoints.min.js"></script>
     <script src="/static/assets/js/jquery.counterup.min.js"></script>
     <script src="/static/assets/js/imgfix.min.js"></script> 
     <script src="/static/assets/js/slick.js"></script> 
     <script src="/static/assets/js/lightbox.js"></script> 
     <script src="/static/assets/js/isotope.js"></script> 
     
     <!-- Global Init -->
     <script src="/static/assets/js/custom.js"></script>
 
     <script>
 
         $(function() {
             var selectedClass = "";
             $("p").click(function(){
             selectedClass = $(this).attr("data-rel");
             $("#portfolio").fadeTo(50, 0.1);
                 $("#portfolio div").not("."+selectedClass).fadeOut();
             setTimeout(function() {
               $("."+selectedClass).fadeIn();
               $("#portfolio").fadeTo(50, 1);
             }, 500);
                 
             });
         });
 
     </script>
 

   